<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto de Machine Learning</title>
    <link rel="stylesheet" href="../static/style.css">
    <style>
        /* Agrega estilos específicos para la página del proyecto de Machine Learning aquí */
    </style>
</head>
<body>
    <header>
        <h1>Introducción al Análisis Exploratorio de Datos (EDA)📊</h1>
    </header>
    <div class="container">
        <h2>Introducción al Proyecto</h2>
        <p>En la primera parte de nuestro realizamos el análisis exploratorio de datos (EDA) centrado en BiciMAD, el sistema de bicicletas eléctricas compartidas de Madrid. Este análisis es un componente fundamental en la mejora y optimización del servicio de BiciMAD mediante el uso de aprendizaje automático. El EDA nos permite comprender en profundidad los patrones de uso, las preferencias de los usuarios y las áreas de mejora potencial antes de implementar soluciones basadas en aprendizaje automático.</p>
        
        <h2>Recopilación y Procesamiento de Datos</h2>
        <p>El análisis comienza con la recopilación de datos relevantes sobre BiciMAD, incluyendo viajes realizados, duración de los viajes, ubicaciones de las estaciones, disponibilidad de bicicletas y patrones de demanda. Una vez recopilados, estos datos pasan por un proceso de limpieza y preparación. Este proceso incluye la eliminación de registros atípicos, como viajes extremadamente cortos o largos, el manejo de registros con información faltante, y la normalización de las características para facilitar su análisis posterior..</p>
        
        <!-- Agrega detalles específicos sobre la recopilación y procesamiento de datos aquí -->
        
        <h2>Análisis Exploratorio de Datos (EDA)</h2>
        <p>El EDA aplicado a BiciMAD involucra técnicas estadísticas y de visualización para desentrañar las dinámicas del servicio de bicicletas compartidas. Se analizan las distribuciones de la duración de los viajes, las horas pico de uso, las estaciones más y menos concurridas, y la relación entre la disponibilidad de bicicletas y la demanda en diferentes zonas. También se examinan las correlaciones entre las condiciones meteorológicas y la frecuencia de uso del servicio, así como cualquier patrón estacional o anomalías en los datos.</p>
        
        <!-- Agrega detalles sobre el análisis exploratorio de datos aquí -->
        
        <h2>Modelos y Técnicas de Aprendizaje</h2>
        <p>Hemos estudiado la aplicacion de diferentes modelos y técnicas de aprendizaje automático para predecir patrones de demanda, optimizar la distribución de bicicletas entre las estaciones, y mejorar la experiencia del usuario. Esto incluye modelos supervisados para predecir la demanda de bicicletas en diferentes estaciones y momentos, modelos no supervisados para identificar grupos de usuarios con patrones de uso similares, y técnicas de aprendizaje por refuerzo para optimizar las rutas de reabastecimiento de bicicletas..</p>
        
        <!-- Agrega detalles sobre modelos y técnicas de aprendizaje aquí -->
        
        <h2>Resultados y Evaluación</h2>
        <p>Tras el entrenamiento de los modelos, evaluaremos el rendimiento de los modelos de aprendizaje automático implementados, utilizando métricas específicas para medir la precisión de las predicciones de demanda, la efectividad en la redistribución de bicicletas y la mejora en la satisfacción del usuario. Los resultados obtenidos proporcionarán insights valiosos sobre la eficacia de las técnicas aplicadas y ofrecerán guías para futuras mejoras en el sistema BiciMAD.</p>
        
        <!-- Agrega tus resultados y evaluaciones aquí -->
        
        <h2>Conclusiones</h2>
        <p>Basándonos en el desarrollo y análisis del proyecto de Machine Learning, podemos llegar a las siguientes conclusiones:</p>
        <ul>
            <li>Conclusión 1</li>
            <li>Conclusión 2</li>
            <li>Conclusión 3</li>
        </ul>

        <!-- Botones para navegar entre páginas -->
        <div class="navigation-buttons">
            <a href="/"><button>Página 2</button></a>
            <a href="/proyectoml"><button>Ir a la página siguiente</button></a>
        </div>
    </div>
</body>
</html>
